# General

## VIM and Office Temporary Files
*.swp
~$*

## NuGet
src/.nuget/
src/packages/

## Python
__pycache__

## NCrunch
nCrunchTemp_*
_NCrunch_*
*.ncrunch*

## ReSharper
ReSharper
_ReSharper*/
*.resharper

## Build Directories
bin/
obj/
build/

## Visual Studio
*.suo
*.user
src/Backup
src/UpgradeLog.htm
src/*/Properties/PublishProfiles
