<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RazorSharp" type="RazorSharp.Configuration.RazorSharpConfigurationSection, RazorSharp" requirePermission="false" />
  </configSections>

  <RazorSharp>
    <namespaces>
      <add namespace="System.Linq" />
      <add namespace="RazorSharp.Extensions" />
    </namespaces>
  </RazorSharp>
</configuration>